@charset "UTF-8";

* {
  margin: 0px;
  padding: 0px;
}

body {background-color:gold;}
header {position:absolute; top:20px; left:20px; width:350px; height:350px;}
footer {position:fixed; bottom:30px; width:150px; text-align:left; padding:5px;}

img#logo {position:relative; top:20px; left:20px; width:300px; height:300px;}

section#items {position:absolute; top:50px; left:400px; width:600px; height:575px;}

img#mints {width:150px; height:150px; position:absolute; top:30px; left:225px;}
img#phone {width:150px; height:150px; position:absolute; top:160px; left:390px;}
img#ears {width:150px; height:150px; position:absolute; top:350px; left:325px;}
img#chaps {width:150px; height:150px; position:absolute; top:350px; left:125px;}
img#drive {width:150px; height:150px; position:absolute; top:160px; left:60px;}

section.overlay {position:absolute; top:0px; left:0px; width:0%; height:100%; background-color:rgba(50, 50, 50, .8); font-size:40px; color:gold; font-family:avenir; text-align:center; }

section.overlay h4 {position:relative; top:300px; visibility:hidden;}
em {color:#ff0066;}

section.overlay nav.close {position: absolute; right: 50px; top: 50px; width: 50px; height: 55px; border: 1px white solid; text-align: center;}
section.overlay nav.close:hover {background-color:red;}